<template>
  <div>
    <div class="ui container">

      <div class="ui divider hidden"></div>

      <div class="ui huge header">Vue.js CRUD Demo</div>

      <div class="ui divider hidden"></div>
      <div class="ui divider"></div>
      <router-view></router-view>

    </div>
  </div>
</template>

<script>

export default { };
</script>

<style>
html {
  height: 100%;
}

body {
  display: block;
  align-items: center;
  height: 100%;
  width: 100%;
}

#app {
  margin-top: 100px;
}

</style>
