<template>

  <div class="product-form">
    
    <form class="ui form" v-on:submit.prevent="onClickSave" >
      <div class="field">
        <label>
         Name
        <input type="text" v-model="product.name"></input>
        </label>
      </div>

  <div class="three fields">

      <div class="field">
        <label>
          Price
          <input type="text" v-model="product.price_cents"></input>
        </label>
      </div>
      <div class="field">
        <label>
          Profit Margin
          <input type="text" v-model="product.margin_cents"></input>
        </label>
      </div>
     <div class="field">
        <label>
          Sales Comission
          <input type="text" v-model="product.comission"></input>
        </label>
      </div>

  </div>    
  <div class="field">
    <label>
      Expiration
      <input type="text" v-model="product.expiration"></input>
    </label>
  </div>

<div class="fields">
    <div class="field">
             <label> &nbsp; </label>
        <div class="ui checked checkbox">
          <input type="checkbox" checked="">
          <label>Track Stock</label>
      </div>
    </div>
    <div class="field">
      <label>
        Stock amount
        <input type="text" v-model="product.stock_amount"></<input>
      </label>
    </div>

</div>

  <div>
    <input class="ui primary button" type="submit" value="Save">
  </div>
</form>


  </div>
</template>

<script>

/* eslint-disable func-names */
/* eslint-disable prefer-arrow-callback */

import axios from 'axios';

export default {

  props: ['product'],

  methods: {

    onClickSave() {
      const payload = JSON.stringify({ product: this.product });
      console.log(payload);
      axios.put(`http://localhost:3000/api/products/${this.product.id}`,
        payload, { headers: { 'Content-Type': 'application/json' } })
      .then(function (response) {
        console.log(response);
      })
      .catch(function (error) {
        console.log(error);
      });
    },
  },

};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
