<template>
  <div class="product-edit">
    
    <button class="ui button" v-link="{path : '/'}">
      <i class="left arrow icon"></i> Back
    </button>
  <h1>Edit Product</h1>
    <product-form :product="product" ></product-form>

  </div>
</template>

<script>

import ProductForm from './ProductForm';
import storeRef from '../stores/products';

export default {

  data() {
    console.log(storeRef.getProductById(this.$route.params.id));
    return { product: storeRef.getProductById(this.$route.params.id) };
  },

  components: {
    ProductForm,
  },
};
</script>

<style scoped>
</style>
