<template>
  <div class="product-list">

  <div class="ui divider"></div>


<div class="ui secondary  menu">


<div class="left menu">
    <div class="item">
      <div class="ui large header">Product list</div>
    </div>
</div>    

 <div class="right menu">
    <div class="item">
      <button class="ui primary button" v-link="{ name: 'product_new' }">New Product</button>
    </div>

    <div class="item">
      <div class="ui selection dropdown">
        <div class="text">Filter By Brand</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div v-for="brand in store.brands" class="item">
            {{ brand.name }}
          </div>
        </div>
      </div>
  </div>

</div>  
</div>
    
  <table class="ui celled table" >
    <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          Price
        </th>
        <th>
          Profit Margin
        </th>
        <th>
          Sales Commission
        </th>
        <th>
          Expiration Date
        </th>
        <th>
          Track stock
        </th>
        <th>
          Stock amount
        </th>
        <th colspan="3">
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      
        <tr v-for="product in store.products" >
          <td>
            {{product.name}}
          </td>
          <td>
            {{ "R$ " + (product.price_cents/100).toFixed(2) }}
          </td>
          <td>
            {{product.margin_cents}}
          </td>
          <td>
            {{product.commission}}
          </td>
          <td>
            {{product.expiration}}
          </td>
          <td>
            {{product.track_stock}}
          </td>
          <td>
            {{product.stock_amount}}
          </td>
          <td>
           <a v-link="{ name: 'product_edit', params: { id: product.id }}">Edit</a>
          </td>
          <td>
           <a v-link="{ name: 'product_edit', params: { id: product.id }}">Remove</a>
          </td>
        </tr>
    </tbody>
  </table>

  </div>
</template>

<script>

import axios from 'axios';
import jQuery from 'jquery';
import '../../node_modules/semantic-ui-css/semantic.js';
import storeRef from '../stores/products';

const $ = jQuery;

export default {
  data() {
    return {
      store: storeRef.state,
    };
  },

  methods: {

    onSuccess(productData, brandData) {
      storeRef.setProducts(productData.data.products);
      storeRef.setBrands(brandData.data.brands);
    },

    getProducts() {
      return axios.get('http://localhost:3000/api/products');
    },

    getBrands() {
      return axios.get('http://localhost:3000/api/brands');
    },

  },

  ready() {
    $('.ui.dropdown').dropdown();
    axios.all([this.getProducts(), this.getBrands()])
    .then(axios.spread(this.onSuccess));
  },

};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
