<template>
  <div class="product-new">
    
    <button class="ui button" v-link="{path : '/products'}">
	  <i class="left arrow icon"></i> Back
	</button>
  <h1>New Product</h1>
	<product-form></product-form>

  </div>
</template>

<script>

import ProductForm from './ProductForm';

export default {

  components: {
    ProductForm,
  },

  data() {
    return {
      msg: 'msg',
    };
  },
};
</script>

<style scoped>
</style>
